@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Readex+Pro:wght@160..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background: #F9F4F0; */
}

body{
    background: #F9F4F0;
}

li, a, button{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

header .logo{
    font-size: 25px;
    cursor: pointer;
}

header .nav_links{
    list-style: none;
}

header .nav_links li{
    display: inline-block;
    padding: 0% 20px;
}

header .nav_links li a{
    color: black;
    /* background-color: aqua; */
}

header button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.section2 .div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section2 .div .section2-toptext{
    /* background:aquamarine; */
    width: 30%;
    padding: 3% 0%;
    margin-top: 1%;

}

.section2 .section2-toptext div{
    margin: 5% 0%;
}

.section2 .div .section2-toptext div h2{
    font-size: 30px;
    font-family: playfair display, sans-serif;
}
.section2 .div .section2-toptext div h1{
    font-size: 70px;
    font-family: playfair display, sans-serif;
}
.section2 .div .section2-toptext div p{
    font-size: 30px;
}

.section2 .div .section2-toptext div a{
    background-color: black;
    text-decoration: none;
    color: #ffff;
    padding: 3% 7%;
    border-radius: 30px;

}


.image{
    background-image:url(/src/stroke.png);
    background-position: center;
    background-size: contain;
    width: 58vh;
    height: 60vh;
    background-repeat: no-repeat;
}

.section3{
    background-image: url(/src/company\ logo.png);
    background-position: center;
    background-size: contain;
    width: 170vh;
    height: 20vh;
    background-repeat: no-repeat;
}

.sectiontop .topsection4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

.section4 .topsection4 h2, h1{
    font-family: playfair display, sans-serif;
}

.sectiontop .topsection4 .button button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.card{
    background-color: #fff;
    padding:2%;
    border-radius: 20px; 
}

.card div{
    padding: 2% 0%;
    /* z-index: 1; */
}

.card div h3, h2{
    font-size: xx-large;
    color: #00000060;
}

.section4 .card .button2 button{
    padding: 9px 25px;
    background:none;
    color: #00000081;
    border-color: #00000060;
    border-radius: 20px;
    cursor: pointer;
}
.section4 .card .button button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.section5 .topsection5{
    margin: 3% 10%;
}

.topsection5 h1{
    font-size: 40px;
}

.section5 .toolsection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 5%;
}

.section5 div .tools{
    background: #fff;
    padding: 1%;
    text-align: center;
}

.section6 .topsection6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    margin-top: 2%;

}

.section6 .topsection6 .button button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}