@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Readex+Pro:wght@160..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background: #F9F4F0; */
}

body{
    background: #F9F4F0;
    /* border: #000000; */
}

li, a, button{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

header .logo{
    font-size: 25px;
    cursor: pointer;
}

header .nav_links{
    list-style: none;
}

header .nav_links li{
    display: inline-block;
    padding: 0% 20px;
}

header .nav_links li a{
    color: black;
    /* background-color: aqua; */
}

header button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* .section2{
    border: #333333 solid;
} */

.div, .sectiontop, .section5, .section6, .section8{
    border: #33333328 solid;
    border-left: none;
    border-right: none;
}

.section2 .div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    /* border-style:inset; */
}

.section2 .div .section2-toptext{
    /* background:aquamarine; */
    width: 30%;
    padding: 3% 0%;
    margin-top: 1%;

}

.section2 .section2-toptext div{
    margin: 5% 0%;
}

.section2 .div .section2-toptext div h2{
    font-size: 30px;
    /* font-family: playfair display, sans-serif; */
}
.section2 .div .section2-toptext div h1{
    font-size: 70px;
    /* font-family: playfair display, sans-serif; */
}
.section2 .div .section2-toptext div p{
    font-size: 30px;
}

.section2 .div .section2-toptext div a{
    background-color: black;
    text-decoration: none;
    color: #ffff;
    padding: 3% 7%;
    border-radius: 30px;

}


.image{
    background-image:url(/src/stroke.png);
    background-position: center;
    background-size: contain;
    width: 58vh;
    height: 60vh;
    background-repeat: no-repeat;
}

.section3{
    background-image: url(/src/company\ logo.png);
    background-position: center;
    background-size: contain;
    width: 170vh;
    height: 20vh;
    background-repeat: no-repeat;
}

.sectiontop{

}

.sectiontop .topsection4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

.section4 .topsection4 h2, h1{
    /* font-family: playfair display, sans-serif; */
}

.sectiontop .topsection4 .button button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.card{
    background-color: #fff;
    padding:2%;
    border-radius: 20px; 
}

.card div{
    padding: 2% 0%;
    /* z-index: 1; */
}

.card div h3, h2{
    font-size: xx-large;
    color: #00000060;
}

.section4 .card .button2 button{
    padding: 9px 25px;
    background:none;
    color: #00000081;
    border-color: #00000060;
    border-radius: 20px;
    cursor: pointer;
}
.section4 .card .button button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.section5 .topsection5{
    margin: 3% 10%;
}

.topsection5 h1{
    font-size: 40px;
}

.section5 .toolsection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 5%;
}

.section5 div .tools{
    background: #fff;
    padding: 1%;
    text-align: center;
}

.section6 .topsection6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    margin-top: 2%;

}

.section6 .topsection6 .button button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.section6 .topsection6b{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 2% 10%;
}

.section6 .sectionclass{
    background-image: url(/src/Group\ 6.png);
    background-position: center;
    background-size: cover;
    width: 50vh;
    height: 50vh;
}

.section6  .lesson{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2.5;
}

.section6 .topsection6b .section6commet{
    color: #00000060;
    line-height: 2;
    margin: 1% 0%;
}

.section6 .topsection6b .navpas ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sectionclient{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

.clients{
    background: #fff;
    width: 40%;
    padding: 2%;
    /* line-height:2; */
}

.sectionclient .clients .clienthead{
    margin-top: 3%;
    font-family: lato, sans-serif;
}

.sectionclient .clienttes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 1%;
}

.sectionclient .clienttes img{
    margin-right: 3%;
}
.sectionclient .clienttes p{
    font-size: 22px;
}

.section8{

    background-image: radial-gradient(rgba(17, 17, 17, 0.479),  #333333 60%);
    height: 35vh;
}

.sectiongrad{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 0%;
}

.sectiongrad .text{
    font-size: 30px;
    color: #fff;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    line-height: 2;
}

.sectiongrad .text button{
    padding: 3% 10%;
     font-family: playfair display, sans-serif;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.section9{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 2% 10%;
    /* border: #333333 solid; */
}

.section9 .section9a{
    /* background-color: aqua; */
   
}

.section9 .section9a .sechead{
    /* padding: 5% 0%; */
    /* line-height: 2; */
}

.section9 .section9a .secicon{
    margin:5% 0%;
}

.section9 .section9a .secicon .icon{
    margin-top: 2%;
}

.section9 .section9a .secicon .icon a{
   /* background: #fff; */
   border: #33333342 solid;
   padding: 1% 3%;
   border-radius: 20px;
   color: #333333;
}

.section9 .section9b{
    /* background-color: aquamarine; */
    padding: 1%;
    border: #3333333f solid;
    border-radius: 20px;
}

.section9 .section9b .inputname{
    width: 100%;
}

.section9 .section9b input{
    border: none;
    border-bottom: #3333334d solid;
    
    height: 35px;
    background: none;
}

.section9 .section9b .input{
    margin: 2% 0%;
}

.section9 .section9b textarea{
    width: 100%;
    height: 80px;
    background: none;
    border: none;
    border-bottom: #3333334b solid;
}

.section9 .section9b button{
    background: #333333;
    color: #fff;
    padding: 3% 5%;
    border: none;
    margin-top: 3%;
    border-radius: 20px;
}
