*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #F9F4F0;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    padding: 0.3%;

}

.section1 div p{
    font-size: 25px;
    
}

.section1 div nav ul{
    /* background-color: bisque; */
    width: 200%;
    padding: 3%;
    margin: 1%;
}

.section1 div nav ul a{
    text-decoration: none;
    color: #000;
    margin: 2%;
    /* background-color: aquamarine; */
    padding: 2%;
    
}

.section1 .div{
    /* background-color: bisque; */
    width: 7%;
}

.section1 .div a{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 7% 17%;
    border-radius: 15px;
}