@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Readex+Pro:wght@160..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #F9F4F0;
}

li, a, button{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
}

header .logo{
    font-size: 25px;
    cursor: pointer;
}

header .nav_links{
    list-style: none;
}

header .nav_links li{
    display: inline-block;
    padding: 0% 20px;
}

header .nav_links li a{
    color: black;
    /* background-color: aqua; */
}

header button{
    padding: 9px 25px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.section2 .div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section2 .div .section2-toptext{
    /* background:aquamarine; */
    width: 30%;
    padding: 3% 0%;
    margin-top: 1%;

}

.section2 .section2-toptext div{
    margin: 5% 0%;
}

.section2 .div .section2-toptext div h2{
    font-size: 30px;
    font-family: playfair display, sans-serif;
}
.section2 .div .section2-toptext div h1{
    font-size: 70px;
    font-family: playfair display, sans-serif;
}
.section2 .div .section2-toptext div p{
    font-size: 30px;
}

.section2 .div .section2-toptext div a{
    background-color: black;
    text-decoration: none;
    color: #ffff;
    padding: 3% 7%;
    border-radius: 30px;

}


.image{
    background-image:url(/src/stroke.png);
    background-position: center;
    background-size: contain;
    width: 58vh;
    height: 60vh;
    background-repeat: no-repeat;
}

.section3{
    background-image: url(/src/company\ logo.png);
    background-position: center;
    background-size: contain;
    width: 170vh;
    height: 20vh;
    background-repeat: no-repeat;
}