*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #F9F4F0;
}

.section1 div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0%;
}

.section1 div p{
    font-size: 20px;
    
}

.section1 .divv{
    width:39%;
    /* background-color: aqua; */
    /* padding: 0% 6%; */
}

.section1 .divv nav{
    width:75%;
    /* background-color:aquamarine; */
    /* padding: 0% 5%; */
}

.section1 div nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 1% 2%; 
    margin: 0% 1%;
}

.section1 .div{
    /* background-color: aquamarine; */
    width: 6.5%;
}

.section1 .div a{
    background-color: black;
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    padding: 7% 6%; 
    border-radius: 20px;
}

.section2 .div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section2 .div .section2-toptext{
    /* background:aquamarine; */
    width: 30%;
    padding: 3% 0%;
    margin-top: 1%;

}

.section2 .section2-toptext div{
    margin: 5% 0%;
}

.section2 .div .section2-toptext div h2{
    font-size: 30px;
}
.section2 .div .section2-toptext div h1{
    font-size: 70px;
}
.section2 .div .section2-toptext div p{
    font-size: 30px;
}

.section2 .div .section2-toptext div a{
    background-color: black;
    text-decoration: none;
    color: #ffff;
    padding: 3% 7%;
    border-radius: 30px;

}


.image{
    background-image:url(/src/stroke.png);
    background-position: center;
    background-size: contain;
    width: 58vh;
    height: 60vh;
    background-repeat: no-repeat;
}